* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background-color: var(--gray-900);
  color: var(--text-default);
}

.container-fluid {
  width: 100%;
}

.container {
  max-width: 98rem;
  margin: 0 auto;
}

.content {
  padding: 3.2rem;
}
